---
import { Icon } from 'astro-icon';

import albums from '../albums.json';
import Layout from '../layouts/Layout.astro';
import restore from '../images/restore.jpg';
import noahsart from '../images/noahs-art.jpg';
import Links from '../components/Links.astro';
import mercifulAndMighty from '../images/merciful-&-mighty.jpg';

const ctaButtons = [
  {icon: 'simple-icons:spotify', text: 'Listen on Spotify'},
  {icon: 'simple-icons:applemusic', text: 'Listen on Apple Music'},
  {icon: 'simple-icons:youtube', text: 'Listen on YouTube'},
  {icon: 'simple-icons:amazon', text: 'Listen on Amazon Music'},
]

const albumCovers: {[slug: string]: ImageMetadata} = {
  restore,
  noahsart,
}

const [_, ...pastAlbums] = albums;
---

<Layout>
	<main class="overflow-x-hidden">
    <div class="h-auto lg:h-[100vh] p-10 pt-[6rem] 2xl:pt-[8rem] flex flex-col lg:flex-row">
      <a href="/merciful&mighty">
        <img src={mercifulAndMighty.src} class="shadow-xl shadow-black hover:scale-[1.02] transition-all" style={{maxHeight: "min(40rem, 100%)"}} alt="Merciful & Mighty" transition:name={mercifulAndMighty.src} />
      </a>
      <div class="content-center min-w-[28rem] text-white flex-1 flex flex-col justify-center items-center text-center">
        <h2 class="text-2xl p-4 pt-8">Listen now to the latest album!</h2>
        <div class="inline-grid columns-1">
          {ctaButtons.map(({icon, text}) => (
            <button class="border-2 p-2 m-2 border-white inline-flex items-center justify-center hover:outline-2 outline-white">
              <Icon name={icon} class="h-6 w-6 inline-block mr-2" />
              {text}
            </button>
          ))}
        </div>
      </div>
    </div>
    <div class="w-full h-full m-auto p-6 sm:p-10 max-w-6xl grid grid-cols-1 sm:grid-cols-2 gap-2 sm:gap-10">
      {pastAlbums.map(({slug, name, ...rest}) => (
        <div>
          <a href={`/${slug}`} class="flex justify-center">
            <img src={albumCovers[slug].src} class="w-auto max-h-[60vh] hover:scale-[1.02] shadow-xl shadow-black transition-all" alt={name} transition:name={albumCovers[slug].src} />
          </a>
          <Links {...rest} />
        </div>
      ))}
    </div>
	</main>
</Layout>