---
import Layout from '../layouts/Layout.astro';
import noahsArt from '../images/noahs-art.jpg';
import restore from '../images/restore.jpg';
import mercifulAndMighty from '../images/merciful-&-mighty.jpg';
import AlbumTile from '../components/AlbumTile.astro';
---

<Layout>
	<main class="p-4">
    <div class="w-full h-full grid grid-cols-1 gap-4 py-4 md:grid-cols-3">
      <AlbumTile>
        <a href="/merciful&mighty">
          <img src={mercifulAndMighty.src} class="w-full" alt="Merciful & Mighty" transition:name={mercifulAndMighty.src} />
        </a>
      </AlbumTile>
      <AlbumTile>
        <a href="/restore">
          <img src={restore.src} class="w-full" alt="Restore" transition:name={restore.src} />
        </a>
      </AlbumTile>
      <AlbumTile>
        <a href="/noahsart">
          <img src={noahsArt.src} class="w-full" alt="Noah's Art" transition:name={noahsArt.src} />
        </a>
      </AlbumTile>
    </div>
	</main>
</Layout>