---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon';

import Layout from '../../layouts/Layout.astro';
import albums from '../../albums.json';
import restore from '../../images/restore.jpg';
import noahsart from '../../images/noahs-art.jpg';
import mercifulAndMighty from '../../images/merciful-&-mighty.jpg';

interface Props {
  slug: string;
  name: string;
  cover: ImageMetadata;
}

export function getStaticPaths() {
  const albumCovers: {[slug: string]: ImageMetadata} = {
    "merciful&mighty": mercifulAndMighty,
    restore,
    noahsart,
  }
  return albums.map((album) => ({
    params: {album: album.slug},
    props: {cover: albumCovers[album.slug], ...album}
  }))
}

const { slug, name, cover } = Astro.props;

const tracks = (await getCollection('tracks', ({id}) => {
    return id.startsWith(slug.replace("&", "_and_"))
  })).map(({slug, ...rest}) => ({
    ...rest,
    slug: `/${slug.replace("_and_", "&").replace(/\d{2}_/, "")}`
  }))
---

<Layout title={name}>
	<main class="flex min-h-0 flex-col md:flex-row flex-1 pt-16 2xl:pt-[5rem] h-full overflow-auto">
    <img src={cover.src} alt={name} class="object-contain flex-shrink" transition:name={cover.src} />
    <ol class="block p-4 flex-grow sm:overflow-auto"> 
      {tracks.map(({data: {title}, slug}) => (
        <li class="my-2 p-2 track flex rounded text-white">
          <Icon name="ic:baseline-play-arrow" class="h-6 w-6 opacity-0" />
          <span class="flex-grow px-2">{title}</span>
          <a href={slug} class="px-2">Lyrics</a>
        </li>
      ))}
    </ol>
	</main>
</Layout>

<style>
  .track {
    background-color: rgba(20, 20, 20, 0.7);
  }
  .track:hover > [astro-icon] {
    opacity: 1;
  }
</style>
